%h1 Introduction to Algorithms
%p Authors: Thomas H. Cormen, Charles E. Leiserson, Ronald Rivest, Clifford Stein
%p Year published: 1989

%h2 Issue information: 
%table{:border => 1}
    %tbody
        %tr
            %th Name
            %th ID 
            %th Issue date
            %th Book ID
        %tr 
            %td Alice 
            %td 123 
            %td 05-09-2020
            %td #5469
        %tr 
            %td Mark 
            %td 456 
            %td 10-07-2020
            %td #5320

%h2 Return information: 
%table{:border => 1}
    %tbody
        %tr
            %th Name
            %th ID 
            %th Issue date
            %th Book ID
        %tr 
            %td Mark 
            %td 456 
            %td 10-07-2020
            %td #5320

