:coffeescript
  $ ->
    $('#books_list').dataTable
      processing: true
      serverSide: true
      ajax:
        url: "/books"
      pagingType: 'full_numbers'
      columns: [
        { data: 'title' }
        { data: 'author' }
        { data: 'book_type' }
        { data: 'reference_number' }
        { data: 'edition' }
        { data: 'copies_available' }
        { data: 'active' }
        { data: 'show' }
      ]

%h1 Listing books

%table.table.table-hover#books_list
  %thead
    %tr
      %th Title
      %th Author
      %th Type
      %th Reference number
      %th Edition
      %th Copies available
      %th Active
      %th

= link_to 'New Book', new_book_path
- if current_user.library_manager?
  = link_to 'Back to dashboard', library_managers_dashboard_path
- elsif current_user.student?
  = link_to 'Back to dashboard', students_dashboard_path
- elsif current_user.staff?
  = link_to 'Back to dashboard', staff_dashboard_path
