:coffeescript
  $ ->
    $('#books_list').dataTable
      processing: true
      serverSide: true
      ajax:
        url: "/books"
      pagingType: 'full_numbers'
      columns: [
        { data: 'cover_image' }
        { data: 'title' }
        { data: 'author' }
        { data: 'book_type' }
        { data: 'reference_number' }
        { data: 'edition' }
        { data: 'copies_available' }
        { data: 'active' }
        { data: 'show' }
      ]

:sass
  #books_list tr
    text-align: center;
    vertical-align: middle;

%h3 Listing books

%table.table.table-hover#books_list
  %thead
    %tr
      %th
      %th Title
      %th Author
      %th Type
      %th Reference number
      %th Edition
      %th Copies available
      %th Active
      %th

- if current_user.library_manager?
  = link_to 'New Book', new_book_path, class: 'btn btn-button btn-success'
